.project-info{
    margin-left:-40px;
    margin-top:20px;
    z-index:1;

}
.image{
    width:635px;
    height:295px;
}
@media screen and (max-width: 425px) {
    .image{
        width:393px;
        height:188px;
    }
    .project-info{
        margin-left:0px;
        margin-top:0px;
    }
  }
@media screen and (max-width:576px){
    .image{
        width:537px;
        height:188px;
    }
    .project-info{
        margin-left:0px;
        margin-top:0px;
    }
}