h4{
    color:aquamarine;
}
h1{
    color:white;
}
ul{
    list-style-type: circle;
    color:aquamarine;
    
}
@media screen and (max-width:425px){
    .about{
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
    }
    .container-fluid{
       overflow-x: hidden;
    }
}
